.header{
    color:magenta;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: aqua;
}
.para{
    color:magenta;
}
.foot{
    font-size: 50px;
    text-align:end;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: yellow;
   
    

}